<%- include ("../partials/header") %>


<div class="container">

<h1 style="text-align: center;">Add Product Details</h1>

<div style="width: 30%; margin: 25px auto;">
    <form action="/items" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" name="name" placeholder="Product">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="image" placeholder="Image URL">
        </div>
        <div class="form-group">
          <textarea name="discription" rows="5" placeholder="Description" class="form-control" ></textarea>
        </div>
        <div class="form-group">
          <input type="number" class="form-control" name="price" placeholder="Price">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="hostel" placeholder="Hostel Name">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" name="room" placeholder="Room No.">
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block">Submit</button>
        </div>
      </form>
      <a href="/items">Back</a>
</div>
  
</div>



<%- include ("../partials/footer") %>